body{
    margin: 0;

}
                        /************meny*************/
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}
header nav{
    margin: 0;
    text-align: center;
    padding: 2vw 6vw 0.4vw;
}
header nav a{
    font-family: "montserrat", sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding: 1.5vw;
}

a:hover{
    color: #bf878a;
}
#burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 15px
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar - Webkit är för gamla browsers */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 3px) ;
    transform: rotate(-45deg) translate(-7px, 3px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -5px) ;
    transform: rotate(45deg) translate(-9px, -5px) ;
}

@media screen and (max-width: 900px){
    #burger{
        display: inline-block;
    }
    header{
        position: absolute;
        width: 100vw;
    }
    nav{
        transform: translateY(-100%);
        position: absolute;
        width: 100vw;
        background-color: white;
        padding: 0 !important;
        margin: 0 !important;

    }
    nav.active{
        transform: translateY(0%);
        transition: transform 200ms ;
    }
    nav a{
        display: block;
    }
}

.logo{
    width: 5vw;
    position: absolute;
    left: 3vw;
    top: 1.7vw;
    z-index: 1;

}
                        /*************text*************/
.home{
    margin-top: 3vw;
}
h1{
    text-align: center;
    font-family: "raleway", sans-serif;
    font-size: 3em;
    padding: 3vw 8vw;
    }
h2{
    text-align: center;
    font-family: "raleway", sans-serif;
    font-size: 1.6em;
    padding: 5vw 0 3vw 0;
}


h3{
    font-family: "raleway", sans-serif;
    font-size: 1.3em;
    padding-left: 13vw;
    border-bottom: solid #dbdbdb 1px;



}
h4{
    font-family: "raleway", sans-serif;
    font-size: 0.9em;
    width: 20vw;

}
.text_box h4{
    font-size: 1em;
    padding: 0vw;
    margin: 1vw;
    border-bottom: solid #dbdbdb 1px;
}

p{
    text-align: justify;
    font-family:"raleway", sans-serif;
    font-size: 0.9em;
    color: #707070;
}

#sidenote{
    display: flex;
    font-size: 0.9em;
    margin-left: 13vw;
}

                            /*************header*************/

.image_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 5vw;
}

@media screen and (max-width: 900px){
    .image_container img{
        width: 48vw;
    }
    .image_container{
        justify-content: space-around;
        margin: 5vw 0;
    }
}

.images{
    width: 26vw;
    padding: 0 0.1vw;
    margin: 0 0.1vw;
}
.images:hover{
    transform: scale(1.1);

}

                    /*************Content_over*************/

#process_page .images{
    width: 40vw;
}
#ux_page  .box{
    width: 20vw;

}
#ux_page .text_box1{
    height: 10vw;
}
#ux_page img {
    width: 20vw;
}

.content_over{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3vw;
}


.container_left{
    width: 30vw;
    padding: 1vw 0 0 13vw;
}


@media screen and (max-width: 900px) {
    .container_left {
        width: 80vw;
    }
}

.container_left h2{
    padding: 1vw;
    text-align: left;
}

.container_right{
    flex-basis: 300px;
    padding: 3vw 4vw;
}

.images_describe{
    flex-basis: 300px;
    width: 40vw;
}
@media screen and (max-width: 900px){
    .images_describe{
        width: 60vw;
        margin-left: 16vw;
    }
}

img{
    width: 30vw;
}

                     /*************text_box*************/


.content_under_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vw;
}

.content_under_text{
    justify-content: center;
}


.text_box p{
    text-align: left;

}
                 /*************Content_under_image*************/


.content_under_image{
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f7f6;
    padding: 0 20vw;
    justify-content: center;

}

#ommig_page .content_under_image{
    padding: 0 27vw;

}


.box{
    display: flex;
    flex-direction: column;
    width: 24vw;
/*    height: 27vw;*/
    margin: 6vw 1vw 1vw 1vw;
    background-color: white;


}



.text_box{
    padding: 4vw 0 1vw 0vw;
}
.text_box p{
    padding-left: 1vw;
}
.text_box1 a{
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    font-family: "montserrat", sans-serif;
}
.text_box1 p{
    text-align: center;
}

.text_box1 a:hover{
    color: #bf878a;
}

.youtube_iframe{
   height: 22vw;

}

.content_under_image img{
    width: 24vw;
}

@media screen and (max-width: 900px){

    .text_box{
        width: 40vw;
    }

    .content_under_image img{
        width: 40vw;
    }
    .box{
        width: 40vw;
    }
}

@media screen and (max-width: 600px){

    .text_box{
        width: 60vw;
    }

     .content_under_image img{
        width: 60vw;
    }
     .box{
        width: 60vw;
    }
    .youtube_iframe{
        width: 60vw;
        height: 40vw;
    }
}


.content_under_text a{
    font-family: "montserrat", sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    color: black;
}

.button a{
    text-decoration: none;
    color: black;
    font-family: "montserrat", sans-serif;
    font-size: 1em;
}
.button a:hover{
    color: #bf878a;
}

footer{
    display: flex;
    justify-content: space-between;
    color: #707070;
    padding: 0.3vw 1vw;
    border-top: solid #dbdbdb 1px;
}
